// @import "blocks/vars";
html {
  font-family: 'Helvetica';
}

.wrapper {
  position: relative;
}

.grid {
  display: flex;
  justify-content: space-between;

  .grid__item {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -5px;

  .movies-grid__item {
    width: 15%;
    margin-bottom: 20px;
    padding: 0 5px;
    box-sizing: border-box; 
  }
}

.movie {
  text-align: center;
  .movie__thumb {
    img {
      width: 100%;
      display: block;
    }
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    padding: 10px 0;
    background: #78b620;
    color: #fff;
    cursor: pointer;
  }

  button:disabled {
    background: gray;
    color: #000;
  }
}

.genres-list {
  a {
    display: inline-block;
    margin: 0 10px;
    color: goldenrod;
  }
}

@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #78b620;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  animation: slideMessage .5s;
}

@keyframes slideMessage {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #c4a60b;
}
.lds-ripple div:nth-child(2) {
  border-color: #ffe200;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}